<!--<nav class="navbar navbar-default">-->
  <section>
    <v-navbar class="cyan darken-2">

      <v-navbar-logo class="hidden-sm-and-down"><router-link to="/" class="navbar-brand" exact>Twix</router-link></v-navbar-logo>
      <!--<v-navbar-items><router-link :to="{name: 'admin'}">Admin</router-link></v-navbar-items>-->
      <!--<v-navbar-items><router-link v-if="isLoggedIn" :to="{path: `/published/${siteId}`}">published</router-link></v-navbar-items>-->
      <!--<v-navbar-items><router-link v-if="isLoggedIn" :to="{path: `/main/${siteId}`}">Main</router-link></v-navbar-items>-->
      <v-navbar-items><router-link v-if="isLoggedIn" :to="{path: '/dashboard'}">My Sites</router-link></v-navbar-items>
      <v-navbar-items><router-link v-if="!isLoggedIn" :to="{ name: 'signin' }">Sign in</router-link></v-navbar-items>
      <v-navbar-items><router-link v-if="!isLoggedIn" :to="{ name: 'signup' }">Sign up</router-link></v-navbar-items>
      <v-navbar-items><a v-if="isLoggedIn" href="#" @click="signout">Sign out</a></v-navbar-items>
      <!--<v-navbar-items v-bind:items="items"><img v-if="isLoggedIn" src="~assets/profile.png" :title="user.username" class="profile-img" /></v-navbar-items>-->
    </v-navbar>
      <!--<img v-if="isLoggedIn" src="~assets/profile.png" :title="user.username" class="profile-img" />-->
   </section>

<!-- </nav> -->

